packaging_format = 2

id = "minecraft"
name = "Minecraft"
description.en = "Three-dimensional sandbox construction game"
description.fr = "Jeu de construction de type \"bac à sable\" en trois dimensions"

version = "1.19.3~ynh1"

maintainers = []

[upstream]
license = "non-free"
website = "https://www.minecraft.net/"
admindoc = "https://minecraft.fandom.com/wiki/Tutorials/Setting_up_a_server"

[integration]
yunohost = ">= 11.1.15"
architectures = "all"
multi_instance = false
ldap = "not_relevant"
sso = "not_relevant"
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.server]
    ask.en = "Select your server"
    ask.fr = "Choisir votre serveur"
    type = "string"
    choices = ["vanilla", "vanilla-snapshot", "paper", "spigot"]
    default = "vanilla"

    [install.ram]
    ask.en = "Set the memory limit for the server. Convert the number to mebibytes (binary MB): for example, 2GB = 2048, 4GB = 4096..."
    ask.fr = "Définir la mémoire du serveur ? Convertir le chiffre en mébioctets (Mo binaires) : soit 2Go = 2048, 4Go = 4096..."
    type = "string"
    example = "1024, 2048, 4096..."
    default = "2048"

    [install.op]
    ask.en = "Enter the administrator name (Minecraft pseudo)"
    ask.fr = "Entrer le nom de l'adminsitrateur (pseudo Minecraft)"
    type = "string"

    [install.password]
    help.en = "Enter the RCON password"
    help.fr = "Entrer le mot de passe RCON"
    type = "password"

    [install.eula]
    ask.en = "By changing the setting below to TRUE you are indicating your agreement to Minecraft's EULA (https://account.mojang.com/documents/minecraft_eula)."
    ask.fr = "En modifiant le paramètre ci-dessous sur TRUE, vous indiquez votre accord avec la CLUF de Minecraft (https://account.mojang.com/documents/minecraft_eula)."
    type = "string"
    example = "true, false"
    default = "true"

[resources]
    [resources.sources]
        [resources.sources.mcrcon]
        url = "https://github.com/Tiiffi/mcrcon/releases/download/v0.7.2/mcrcon-0.7.2-linux-x86-64.tar.gz"
        sha256 = "c1883c3f6610c751c935f4faefbf2c52f704a0f71013be2928972eef5918cb68"
        in_subdir = false

        [resources.sources.paper]
        url = "https://api.papermc.io/v2/projects/paper/versions/1.19.3/builds/371/downloads/paper-1.19.3-371.jar"
        sha256 = "dd62ce8af938c7ee3379ed93d5724b033ce327cd3ce3a32035262ea1979c8ac7"
        format = "jar"
        rename = "server.jar"

        [resources.sources.vanilla]
        url = "https://piston-data.mojang.com/v1/objects/c9df48efed58511cdd0213c56b9013a7b5c9ac1f/server.jar"
        sha256 = "4ebd3ad142512953d0193ae3a1d1a30c896907de7c68780977151f6cc79f1e1b"
        format = "jar"
        rename = "server.jar"

        [resources.sources.vanilla-snapshot]
        url = "https://piston-data.mojang.com/v1/objects/c9df48efed58511cdd0213c56b9013a7b5c9ac1f/server.jar"
        sha256 = "4ebd3ad142512953d0193ae3a1d1a30c896907de7c68780977151f6cc79f1e1b"
        format = "jar"
        rename = "server.jar"

        [resources.sources.spigot]
        url = "https://download.getbukkit.org/spigot/spigot-1.19.3.jar"
        sha256 = "fe03b30dc4f9dc5b03b55550e0a3a2cd35f8ee7c802aa8162dc14eaf7f0685ff"
        format = "jar"
        rename = "server.jar"


    [resources.ports]
    main.default = 25565
    main.exposed = "TCP"
    rconport.default = 25575
    rconport.exposed = "TCP"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]

    [resources.apt]
    packages = "openjdk-17-jdk"
