[Unit]
Description=Minecraft Server
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
#ProtectSystem=full 
#PrivateUsers=true 
#ProtectKernelTunables=true
#ProtectControlGroups=true 
WorkingDirectory=__FINALPATH__/
UMask=000
ExecStart=/usr/lib/jvm/java-__JAVA_VERSION__-openjdk-__ARCH__ -Xmx__RAM__M -Xms__RAM__M -jar server.jar nogui
ExecStop=__FINAL_PATH__/mcrcon/mcrcon -H 127.0.0.1 -P 25575 -p __PASSWORD__ stop
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
