[Unit]
Description=Minecraft Server
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
#ProtectSystem=full 
#PrivateUsers=true 
#ProtectKernelTunables=true
#ProtectControlGroups=true 
WorkingDirectory=__PATH__
UMask=000
ExecStart=/usr/bin/java -Xmx__RAM__M -Xms__RAM__M -jar server.jar nogui
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
