[Unit]
Description=vinstagestory
After=network.target

[Service]
WorkingDirectory=/home/yunohost.app/vintagestory/
User=admin
Group=users
Type=simple
UMask=000
ExecStart=/usr/bin/mono VintagestoryServer.exe --dataPath /home/yunohost.app/vintagestory/data
RestartSec=15
Restart=always

[Install]
WantedBy=multi-user.target